a {
    /*color: rgb(135, 215, 215);*/
    color: rgb(75, 195, 255);
}

h1 {
    /*font-family: 'Skranji'*/
    font-family: 'Expletus Sans', cursive;
}

p {
    margin: 10px 0;
}

dl {
    line-height: 150%;
}

dl dt {
    font-weight: bold;
    float: left;
    width: 200px;
    text-align: right;
}

dl dd {
    margin-left: 210px;
}

code.install {
    display: block;
    padding: 0.5em;
    background: #3F3F3F;
    color: #DCDCDC;
    border-radius: 5px;
    font-size: 22px;
    font-family: monospace;
}

code.bash .string {
    color: #CC9393;
}

code.bash .keyword {
    color: #E3CEAB;
}

pre code {
    border-radius: 5px;
    font-size: 25px;
    font-family: monospace;
    line-height: 130%;
    margin-top: -20px;
}

.slide h1 {
    color: rgb(247, 150, 70);
    font-size: 60px;
    margin-bottom: 30px;
}

.slide h2 {
    color: rgb(155, 187, 89);
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide ul {
    margin-top: 20px;
    margin-left: 60px;
    list-style: disc;
}

.slide ul li {
    line-height: 150%;
}

#intro #note {
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

#intro #java {
    position: absolute;
    left: 50%;
    margin-left: -90px;
    padding-top: 10px;
}

#intro #gear {
    position: absolute;
    left: 50%;
    margin-left: 55px;
    top: 50%;
    padding-top: 10px;
}

#intro .preparedby {
    color: rgb(0, 140, 210);
    font-size: 30px;
    position: absolute;
    bottom: 100px;
    left: 30px;
}

#intro .email {
    color: rgb(0, 140, 210);
    font-size: 30px;
    position: absolute;
    bottom: 50px;
    left: 30px;
}

#intro h1 {
    color: rgb(65, 67, 70);
    font-size: 70px;
    font-style: bold;
}

#overview { display: none }

#about ul {
    float: left;
    width: 40%;
}

#java img {
    float: left;
    margin-right: 30px;
    opacity: 0;

    -webkit-transform: translateZ(100px) translateY(-300px);
    -moz-transform:    translateZ(100px) translateY(-300px);
    -ms-transform:     translateZ(100px) translateY(-300px);
    -o-transform:      translateZ(100px) translateY(-300px);
    transform:         translateZ(100px) translateY(-300px);

    -webkit-transition: 1s;
    -moz-transition:    1s;
    -ms-transition:     1s;
    -o-transition:      1s;
    transition:         1s;
}

#java-syntax pre code {
    font-size: 23px;
}

#java.present img {
    opacity: 1;

    -webkit-transform: translateZ(0px) translateY(0px);
    -moz-transform:    translateZ(0px) translateY(0px);
    -ms-transform:     translateZ(0px) translateY(0px);
    -o-transform:      translateZ(0px) translateY(0px);
    transform:         translateZ(0px) translateY(0px);
}

#groovy ul {
    font-size: 20px
}

#python p, #python ul {
    font-size: 20px
}

#qa img {
    margin: auto 145px;
    padding-top: 50px;
    width: 450px;
}

#examples pre code, #examples-cont pre code {
    -webkit-transform: translateZ(0px);
    -moz-transform:    translateZ(0px);
    -ms-transform:     translateZ(0px);
    -o-transform:      translateZ(0px);
    transform:         translateZ(0px);
}

#examples pre, #examples-cont pre {
    line-height: 0;
    margin-top: 30px;
}

#examples pre code.small, #examples-cont pre code.small {
    font-size: 22px;
}